@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap");

.mont {
  font-family: "Montserrat";
}

.php {
  background-image: url("../public/images/php.png");
  width: 100%;
  background-size: cover;
  border-radius: 50%;
}
.node {
  background-image: url("../public/images/nodejs.svg");
  width: 100%;
  background-size: cover;
  border-radius: 50%;
}
.py {
  background-image: url("../public/images/python.png");
  width: 100%;
  background-size: cover;
  border-radius: 50%;
}
.sql {
  background-image: url("../public/images/sql.png");
  width: 100%;
  background-size: cover;
  border-radius: 50%;
}
.css {
  background-image: url("../public/images/css.png");
  width: 100%;
  background-size: cover;
  border-radius: 50%;
}
.html {
  background-image: url("../public/images/html-5.png");
  width: 100%;
  background-size: cover;
  border-radius: 50%;
}
.js {
  background-image: url("../public/images/javascript.png");
  width: 100%;
  background-size: cover;
  border-radius: 50%;
}
.git {
  background-image: url("../public/images/tools.png");
  width: 100%;
  background-size: cover;
  border-radius: 50%;
}
